* {
    background-color: black;
}

.stripe {
    margin-top: 100px;
    border-top: 5px solid red;
    border-bottom: 5px solid red;
    background-color:white;
    height: 405px;
}

#ryu {
    border: 2px solid blue;
    background: white;
    margin: 0 0 0 100px;
    height: 400px;
}